/vrcurso/nbproject/private/
/vrcursoWebService/nbproject/private/
/vrcursoWebService/build/
/vrcursoWebService/dist/
/vrcurso/build/
/vrcursoWS/nbproject/private/
/vrcursoWS/build/
/vrcursoWS/dist/
/vrcurso/dist/
/Framework/nbproject/private/
/Framework/build/
/Framework/dist/